{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4 text-center text-primary">Температурные данные по холодильникам</h2>

<!-- Форма фильтрации по дате -->
<div class="mb-4 text-center">
    <form method="get" class="d-inline-flex align-items-center">
        <label for="start_date" class="me-2">From:</label>
        <input type="date" name="start_date" value="{{ start_date|date:'Y-m-d' }}" class="form-control me-3">

        <label for="end_date" class="me-2">To:</label>
        <input type="date" name="end_date" value="{{ end_date|date:'Y-m-d' }}" class="form-control me-3">

        <button type="submit" class="btn btn-success">Отфильтровать</button>
    </form>
</div>

<!-- Таблица для отображения температурных записей -->
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Холодильник</th>
            <th>Температура датчика 1 (°C)</th>
            <th>Температура датчика 2 (°C)</th>
            <th>Дата события</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
        <tr class="{% if record.is_out_of_range %}table-danger{% endif %}">
            <td>{{ record.fridge.name }}</td>
            <td>{{ record.sensor1_temp }}°C</td>
            <td>{{ record.sensor2_temp }}°C</td>
            <td>{{ record.event_date|date:"Y-m-d H:i" }}</td> <!-- Форматируем дату -->
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Записи не найдены за этот период.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
