<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{{ request.GET.urlencode|safe }}">« Первая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ request.GET.urlencode|safe }}">Назад</a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ request.GET.urlencode|safe }}">Вперёд</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{ request.GET.urlencode|safe }}">Последняя »</a>
            </li>
        {% endif %}
    </ul>
</nav>
